.axis path,
.axis line {
  shape-rendering: crispEdges;
}
.dot:hover {
  fill: blue
}
.tooltip {
  position: absolute;
  left: 600px;
  top: 330px;
  width: 100px;
  visibility: hidden;
  font: 0.5em sans-serif;
  text-align: center;
  padding: 5px;
  background: rgba(0, 0, 255, 0.2);
  pointer-events: none;
}
