---

---

{% include header.html %}

<img src="images/jennifer.jpg" alt="Photograph of Jennifer" class="profile-photo">
<p>Hi. I'm Jennifer. I'm an engineer by day and a programmer by night. I'm currently on a journey of web development, using this site to learn by doing. Please contact me if you have a project that could use my developing skills.</p>
<p>When I'm not busy with that, I love to sail and bike. One day, I hope to circumnavigate the world on my currently-ficticious sailboat. Then do it again on my bicycle.</p>
<p>Download my complete <a href="/Resume_Hsu_Jennifer_20150714.pdf">resum&eacute;</a> (PDF)</p>
<h2>EDUCATION</h2>
<p><strong>Massachusetts Institute of Technology</strong><br />
	B.S. Chemical-Biological Engineering<br />
	Class of 2014 | Cambridge, MA</p>
<h2>EXPERIENCE</h2>
<p>Optimized Operations Engineer, <strong>3M</strong><br />
	July 2014 - Present | St Paul, MN</p>
<p>Research Assistant, <strong>EPFL Lab for Semiconductor Materials</strong><br />
	February 2013 - August 2013 | Lausanne, Switzerland</p>
<p>Materials Characterization Intern, <strong>Honeywell/UOP</strong><br />
	June 2012 - August 2012 | Des Plaines, IL</p>

{% include footer.html %}
