---

---

{% include header.html %}

<script src="js/prototype.js" type="text/javascript"></script>
<script src="js/scriptaculous.js?load=effects,builder" type="text/javascript"></script>
<script src="js/lightbox.js" type="text/javascript"></script>

<h1>Amsterdam Brussels Bruges (2013)</h1>

<section id="gallery">
<div class="thumbnails centered photos">
<ul>
  {% for i in (1..7) %}
    <li>
      <a href="/images/Amsterdam-Brussels-Bruges/Amsterdam-Brussels-Bruges-{{i}}.jpg" rel="lightbox[glo]">
        <img src="/images/Amsterdam-Brussels-Bruges/th-Amsterdam-Brussels-Bruges-{{i}}.jpg"}}/>
      </a>
    </li>
  {% endfor %}
</ul>
</div>
</section>

{% include footer.html %}
