<footer>
	<a href="https://mail.google.com/mail/?extsrc=mailto&amp;url=mailto%3Ajennifer.y.hsu%2Bwebsite@gmail.com"><i class="fa fa-envelope fa-2x social-icon"></i></a>
	<a href="/blog/"><i class="fa fa-rss-square fa-2x social-icon"></i></a>
	<a href="https://www.linkedin.com/in/hsujennifer"><i class="fa fa-linkedin-square fa-2x social-icon"></i></a>
	<a href="http://twitter.com/spunow"><i class="fa fa-twitter-square fa-2x social-icon"></i></a>
	<a href="http://facebook.com/hsujenn"><i class="fa fa-facebook-square fa-2x social-icon"></i></a>
	<a href="https://github.com/hsubox/"><i class="fa fa-github-square fa-2x social-icon"></i></a>
	<p>&copy; 2018 Jennifer Hsu.</p>
</footer>
