<header id="page-header">
	<nav class="page-nav">
		<input
			id="menu"
			class="page-nav__toggle-input page-nav__toggle-input--menu"
			type="checkbox"
		>
		<label
			class="page-nav__toggle-label page-nav__toggle-label--menu"
			for="menu"
		>
			<div class="menu icon"></div>
		</label>
		<ul class="page-nav__menu">
			<li class="page-nav__menu-item">
				<a class="page-nav__link page-nav__link--menu" href="/">
					About
				</a>
			</li>
			<li class="page-nav__menu-item">
				<a class="page-nav__link page-nav__link--menu" href="/blog">
					Blog
				</a>
			</li>
			<li class="page-nav__menu-item">
				<a class="page-nav__link page-nav__link--menu" href="/projects">
					Projects
				</a>
			</li>
		</ul>
	</nav>
</header>
